.inicio{
    display :flex; 
    margin : 0px 20px 0px 750px; 
    
}

.container1{
    display : flex ; 
    justify-content: space-between;
    columns: ;
 }

.circulo1 {

}
.circulo2 {

}
.circulo3 {

}

